/* Default Colors */
$black: #000;
$white: #fff;
$red: #f00;
$error-red: #e62048;
$error-pink: #ff00c6;
$very-soft-cyan: #89f0de;
$very-soft-blue: #89cff0;
$very-soft-red: #f0899c;
$very-soft-lime-green: #9cf089;

/* Project Colors */
