/*
* League Spartan
*/
@font-face {
  font-family: 'LeagueSpartan';
  src: url('/fonts/LeagueSpartan/LeagueSpartan-Regular.woff2') format('woff2'),
      url('/fonts/LeagueSpartan/LeagueSpartan-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
