.Test {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__description {
    @include ls-regular(40);
  }

  &__image {
    width: 400px;
    height: 250px;
  }
}
